$primary-color: blue;

$grey: rgba(225, 225, 225, 0.8);

.slds-grid {
  min-width: 800px;
}

.create-new-job {
  position: relative;
  top: 32px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.submit-archive a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

td.slds-truncate:last-of-type svg {
  margin: 0 2px 0 0;
}

.topMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

.not-registered {
  margin-bottom: 30px;
  padding: 20px;
  background-color: $grey;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.listViewPickList {
  padding: 10px;
}

.page-header-archive {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $grey;
}

.job-details {
  ul {
    margin-top: 20px;
    li {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      span {
        display: inline-block;
      }
    }
  }
}

.archived-dataset .slds-truncate {
  overflow: inherit; 
}

.slds-picklist__label {
  width: 8rem;
}

.hasHover:hover {
  cursor: pointer; 
  opacity: .5;
  &:before {
    content: ' ';
    background-color: black;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
}